.blogSection {
  padding: 2rem 4rem 2rem 2rem;

  .blogTitleCol {
    // padding: 0 !important;
    margin: 0 0 2rem 0;

    .blogTitle {
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      width: auto;
      margin: 0;
    }
  }
}
