.pricingSection {
  padding: 2rem 4rem 2rem 2rem;

  .pricingTitleCol {
    margin: 0 0 2rem 0;

    .pricingTitle {
      color: #fff;
      font-family: "DM Sans", sans-serif;
      font-size: 3rem;
      line-height: 3rem;
      font-weight: 700;
      width: auto;
      margin: 0;
    }
  }
}
