@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

#__next {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 !important;
}
body {
  background-color: #111;
  background-image: url("/images/main-bg-texture.png");
  background-repeat: repeat;
}
body,
html {
  box-sizing: border-box;
  padding: 0 !important;
  width: 100% !important;
}

.pageContainer {
  width: 100%;
  height: auto;
}
.main-title {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 90px;
  font-weight: 700;
  width: auto;
  opacity: 0.06;

  position: fixed;
  top: 0;
  left: 60px;
  z-index: -100;
  padding: 0;
}

.mainContainer {
  background-color: #171b1a;
  max-width: 80vw;
  height: auto;
  padding: 0 !important;

  margin: 10vh auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -10;
}

/* background: linear-gradient(to right, #F5BD4D 0%, #F89222 100%); */
