.profileOverviewDiv {
  width: 100%;
  height: auto;

  .profileImageDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 !important;
    position: relative;

    .leftBgIconDiv {
      width: 6rem;
      height: fit-content;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;

      .leftBgIcon {
        width: 100%;
      }
    }

    .profileIconsDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2rem;
      width: 6rem;
      height: 100%;
      padding: 4rem 0 0 0;

      * {
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
      }
    }

    .profilePhotoDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: #000;
      width: calc(100% - 6rem) !important;
      min-height: 100%;

      .profilePhotoContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .socialMediaIcons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        width: 100%;
        padding: 1rem;

        .socialMediaIcon {
          margin: 0;
          width: 2rem;
          height: 2rem;
          background-color: #171b1a;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
        }
      }
    }
  }

  .profileInfoDiv {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5rem;
    height: auto;
    padding: 0;
    position: relative;

    @media (max-width: 480px) {
    }

    .rightBgIconDiv {
      width: fit-content;
      height: fit-content;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    .profileInfoTextDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: calc(100% - 96px);
      padding: 1.5rem 2rem;

      .introTitle {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.2rem;
        background: linear-gradient(to right, #f5bd4d 0%, #f89222 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        @media (max-width: 480px) {
          font-size: 0.8rem;
          font-weight: 600;
          line-height: 1rem;
        }
      }

      .mainTitle {
        font-family: "DM Sans", sans-serif;
        font-size: 3rem;
        font-weight: 700;
        line-height: 3.8rem;
        color: #fff;

        @media (max-width: 480px) {
          font-size: 2.2rem;
          line-height: 2.2rem;
        }
      }

      .subTitle {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1.3rem;
        color: #fff;

        @media (max-width: 480px) {
          font-size: 0.8rem;
          line-height: 1rem;
        }
      }

      .infoText {
        font-family: "DM Sans", sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        color: #c6c6c6;

        @media (max-width: 480px) {
          font-size: 0.7rem;
          line-height: 0.8rem;
        }
      }

      .downloadCVBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: fit-content;
        height: fit-content;
        padding: 0.8rem 1.4rem;
        background: linear-gradient(to right, #f5bd4d 0%, #f89222 100%);
        border-radius: 50px;

        @media (max-width: 480px) {
          padding: 0.6rem 1rem;
        }

        * {
          margin: auto 0;
        }
      }

      .btnText {
        font-family: "DM Sans", sans-serif;
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1rem;
        color: #fff;

        @media (max-width: 480px) {
          font-size: 0.7rem;
          line-height: 0.7rem;
        }
      }

      .download_btn_icon {
        width: 1.5rem;
        height: 1.5rem;

        @media (max-width: 480px) {
          width: 1.2rem;
          height: 1.2rem;
        }
      }
    }

    .profileInfoIconDiv {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      padding: 0;
      min-width: 96px;
      height: 100%;
      position: relative;

      .copyrightTextDiv {
        width: max-content;
        height: max-content;
        position: absolute;
        right: -82%;
        top: 40%;
        transform: rotate(90deg);

        .copyrightText {
          font-family: "DM Sans", sans-serif;
          font-size: 0.65rem;
          font-weight: 400;
          line-height: 1rem;
          color: #a5a5a5;
          width: 100%;
          height: 100%;
        }
      }

      .FR_Icon {
        margin: 0 auto;
        width: 2rem;
        height: 2rem;
        background-color: #171b1a;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
      }

      .EN_Icon {
        margin: 1rem auto 1.5rem auto;
        width: 2rem;
        height: 2rem;
        background: linear-gradient(to right, #f5bd4d 0%, #f89222 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
      }
    }
  }
}
